/*Partials: Base*/
@import 'base/reset';
@import 'base/colors';
@import 'base/fonts';
@import 'base/icons';
@import '../scss/base/size';

/*Partials: Components*/
@import 'components/buttons';

/*Partials: Functions*/
@import 'functions/extends';
@import 'functions/list';
@import 'functions/mixins';

/*Partials: Layout*/
@import 'layout/header';
@import 'layout/index';
@import 'layout/footer';
@import 'layout/about';
@import '../scss/layout/work';
@import '../scss/layout/contact';

/*Tipografia para destacados*/
  @font-face {
      font-family: 'Canela';
      src: url(Canela-Thin.ttf);
  }

/*Error 404*/
body{
    .generalError{
        margin-bottom: 6rem;
        .imageError{
            padding-top: 12rem;
            width: 50%;
        }
        .errorText{
            padding: 1rem;
            h2{
                font-family:$fontPrincipal;
                font-weight: nth($fontWeight ,5);
                color: nth($colors, 7);
                text-align: center;
            }
            p{
                font-family: $fontPrincipal;
                font-size: 1rem;
                color: nth($colors, 7);
                text-align: center;
            }
        .errorCta{
            margin-bottom: 3rem;
            @extend %flexbox;
            button .errorBotones{
                background-color: nth($colors, 2);
                color: nth($colors, 6);
                border:1px solid nth($colors, 2);
                border-radius: 2%;
                &:hover{
                    color: nth($colors, 6);
                    background-color: nth($colors, 4);
                    cursor: pointer;
                }
            }

        }
        }
    }
}