/*About Section*/
.headAbout{
    padding-top: 35%;
    .quote{
        padding: 15% 8%;
        font-size: 4vw;
        @include encabezados(nth($colors,7));
        @media (max-width: 768px) {
            padding: 20% 15% 5% 12%;
            font-size: 7vw;
             } 

    }
    .vanu{
        padding-top: 10%;
        img{
            height: 90%;
            @extend %flexboxRow;
            justify-content: center;
            animation-duration: 5s;
            animation-name: aparecer;
            @keyframes aparecer{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            @media (max-width: 768px) {
                width: 100%;
                height: auto;
                 } 
    
        }        
    }
}

/*About Me*/
.containerAbout{
    padding-bottom: 8%;
    .title{
        @include encabezados(nth($colors,1));
        font-size: 14vw;
        font-weight: nth($fontWeight, 1);
    }
    .about{
        h4{
            font-family: $fontSecondary;
            color: nth($colors, 2);
            font-size: 0.8 rem;
            padding-bottom: 2%;
        }
    }
}

/*CV*/
.containerCv{
    .clients{
        .cvTitle{
            font-family: $fontPrincipal;
            font-size: 0.8rem;
            font-weight: nth($fontWeight, 4);
            padding: 2% 10% 2% 10%;
        }
        .contenido{
            font-family: $fontPrincipal;
            font-size: 0.9rem;
            padding: 2% 10% 2% 10%;
        }
        padding-bottom: 5%;
    }
    .workExp{
        .cvTitle{
            font-family: $fontPrincipal;
            font-size: 0.8rem;
            font-weight: nth($fontWeight, 4);
            padding: 2% 10% 2% 10%;
            }
        .exp{
            h5{
                font-family: $fontPrincipal;
                font-weight: nth($fontWeight,2);
                font-size: 0.9rem;
                color: nth($colors, 2);
            }
            .contenido{
                font-family: $fontPrincipal;
                font-size: 0.9rem;
                }
                padding: 2% 10% 0% 10%;
        }
        padding-bottom: 5%;
    }
    
    .skills{
        .cvTitle{
            font-family: $fontPrincipal;
            font-size: 0.8rem;
            font-weight: nth($fontWeight, 4);
            padding: 2% 10% 2% 10%;

        }
        .contenido{
            font-family: $fontPrincipal;
            font-size: 0.9rem;
            padding: 2% 10% 2% 10%;
        }
    }
}
