@import '../base/size';

/*Section Work*/
.headWork{
    background-color: nth($colors, 7);
    .row{
    padding: 16% 8%;
    .stranger{
        @include encabezadosSecond(nth($colors,6));
        font-size: 2vw;
        letter-spacing: 10px;
        text-align: center;
        padding-bottom: 5vh;
    }
    .posts{
             @include encabezados(nth($colors,1));
             font-size: 5.5vw;
             text-align: center;
             a{
             text-decoration: none;
             color: nth($colors, 5);
             }
        }
    }
}

/*TripAdvisor*/
.mainProject{
    width: $anchoBase;
    @extend %flexboxRow;
    .projectTitle{
        @extend %flexbox;
        padding: 4%;
        .projecto{
            font-size: 3rem;
            @include encabezados(nth($colors, 7));
            @extend %flexboxRow;
            align-items: flex-start;
        }
        .descriptionProject{
            width: 50%;
            border-left: 1px solid nth($colors, 7);
            margin: 4%;
            padding: 2% 3%;
            p{
            @include paragraphs (nth($colors,  7));
            text-align: left;
            }
            .buttonPrimary{
                @extend %buttonPrincipal;
            }
            @media (max-width: 768px) {
               border-left: none;
               width: 90%;
            } 

        }
        @media (max-width: 768px) {
            padding: 15% 4%;
         } 

        }

    .itemDouble{
        width: $anchoBase;
    }
    .itemHalf{
        width: $anchoBase/2;
    }
}

/*Enfocarte*/
.mainEnfo{
    width: $anchoBase;
    .projectTitle{
        padding: 0% 5%;
        .projecto{
            font-size: 3rem;
            @include encabezados(nth($colors, 7));
        }
        .descriptionProject{
            p{
            @include paragraphs (nth($colors,  7));
            text-align: left;
            }
            .buttonPrimary{
                @extend %buttonPrincipal;
            }
        }
        @media (max-width: 768px) {
            padding: 20% 10%;
         } 

    }
}

/*SmartFarming*/
.mainSf{
    .row{
        .projecto{
            padding: 10% 25%;
            h3{
                font-size: 3rem;
                @include encabezados(nth($colors, 7));
            }
            .descriptionProject{
                margin: 4%;
                padding: 2% 3%;
                p{
                @include paragraphs (nth    ($colors,  7));
                }
                .buttonPrimary{
                    @extend %buttonPrincipal;
                } 
                @media (max-width: 768px) {
                    width: 90%;;
                 } 
           
            }
                    @media (max-width: 768px) {
            padding: 25% 4%;
         } 

        }
        .videoSmart{
            @extend %flexbox;
            padding-bottom: 10%;
            video{
                width: 80%;
                @media (max-width: 768px) {
                    width: 100%;
                }    
                
            }    
            @media (max-width: 768px) {
                padding: 0;
                margin: 0;
            }
        }
    }
}

/*Kevingston*/
.mainKvn{
    height: fit-content;
    .row{
        .kvnTitles{
            padding: 4%;
            h3{
                font-size: 3rem;
                @include encabezados(nth($colors, 7));
            }
            p{
                @include paragraphs (nth    ($colors,  7));
            }
            .buttonPrimary{
                @extend %buttonPrincipal;
            }    
            @media (max-width: 768px) {
                width: 90%;
                padding: 20% 5%;
             } 

        }
        .kvnGirl{
            img{
                height: 70%;
                @media (max-width: 768px) {
                    height: 85%;
                }        
            }
        }
    }
}

/*Transener Transba*/
.mainTransener{
    .projectTitle{
        @extend %flexbox;
        padding: 10% 10% 1% 10%;
        text-align: center;
            .projecto{
                font-size: 3rem;
                @include encabezados(nth($colors,  7));
            }
            .descriptionProject{
                @include paragraphs (nth($colors,   7));
                padding: 0 5%;
                text-align: center;
                width: 60%;
                @media (max-width: 768px) {
                    width: 90%;
                } 
            }
    }
    .buttonPrimary{
        @extend %buttonPrincipal;        
    }    
    .imagesT{
        @extend %flexboxRow;
        align-items: center;
        justify-content: center;
        padding-bottom: 15%;
        .itemThird{
            width: 30%;
        }
    }
    .itemDouble{
        width: $anchoBase;

    }
}

/*App Dona Vida*/


/*Makers*/
.mainMakers{
    .row{
        .projecto{
            padding: 10% 25%;
            h3{
                font-size: 3rem;
                @include encabezados(nth($colors, 7));
            }
            .descriptionProject{
                margin: 4%;
                padding: 2% 3%;
                p{
                @include paragraphs (nth    ($colors,  7));
                }
                .buttonPrimary{
                    @extend %buttonPrincipal;
                }    
            }
            @media (max-width: 768px) {
                width: 90%;
                padding: 20% 5%;
             } 

        }
    }
}
