/*Colores Variables
$palette-rose:#F4D4E0;
$palette-darkblue:#051f42;
$palette-acqua:#66C6C6;
$palette-blue:#0E3B7C;
$palette-violet:#562fff;
$palette-white:white;
$pañette-black:black;
*/

/*Colores Lista*/
$colors:
#F4D4E0,
#0E3B7C,
#051f42,
#66C6C6,
#562fff,
white,
black,
#C7E325;