/*Principal*/
$fontPrincipal:'Montserrat', sans-serif;

/*Secundarias*/
$fontSecondary:'Inconsolata', monospace;

/*Destacados*/
$fontDestacados:'Canela', serif;

/*Weight*/
$fontWeight:
    lighter,
    400,
    500,
    600,
    700,
    800;